fastapi
uvicorn
sqlalchemy
psycopg2-binary
pandas
numpy
scipy
scikit-learn
joblib
xgboost
lightgbm
catboost
pydantic
shap
eli5
jinja2
aiofiles
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
